@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0;
}

@screen md {
  body::-webkit-scrollbar {
    width: 1;
  }
}

.background {
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
